/**
 * MaterialDesignIcons-Picker
 */

@import 'material';

$roboto: Roboto, Arial, sans-serif;
$color-primary: material-color($color-blue, 500);
$color-accent: material-color($color-orange, 500);
$icons-color: #565656;
$icons-color-hover: #fff;
$background: #fafafa;
$icon-size: 24px;
$icon-margin: 5px;
$icon-padding: 12px;
$icon-border: 1px;
$iconsList-height: 5.5 * ($icon-size + 2*($icon-margin+$icon-border+$icon-padding));

// Chrome popup default font style
body {
    font-family: $roboto;
    font-size: 75%;
}

html, body {
    margin: 0;
    padding: 0;
    width: 380px;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: $roboto;
    color: $color-text-dark;

    cursor: default;
    -webkit-user-select: none;
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

header {
    color: #fff;
    padding: 5px 10px;
    background-color: $color-primary;
    position: relative;
    z-index: 1;
    @extend .elevation-low;

    h1 {
        font-weight: normal;
        margin: 5px 0;
        display: inline-block;

        i.mdi {
            vertical-align: baseline;
            margin: 0 10px 0 5px;
        }
    }

    #version {
        margin-left: 5px;
        opacity: 0.7;
    }

    #filter {
        $left-margin: 45px;
        width: calc(100% - #{$left-margin});
        margin: 5px 0 5px $left-margin;
        padding: 6px 2px;
        font-family: $roboto;
        font-size: 15px;
        color: #fff;
        outline: none;
        border: 0;
        background: transparent;
        transition-duration: $timing-medium;
        box-shadow: 0 1px rgba(#ffffff, 0.7);

        &:active, &:focus {
            box-shadow: 0 2px rgba(#ffffff, 0.9);
        }
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #fff;
        opacity: 0.7;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity: 0.7;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
        opacity: 0.7;
    }
}

.icons {
    font-size: 0;
    overflow-y: scroll;
    height: $iconsList-height;

    background: $background;

    .icon-wrap {
        display: inline-block;
        margin: $icon-margin;
        padding: $icon-padding;
        border: $icon-border solid transparent;
        border-radius: 2px;
        transition-duration: $timing-short;

        .mdi {
            color: $icons-color;
            font-size: $icon-size;
            width: $icon-size;
            height: $icon-size;
            overflow: hidden;
            transition-duration: $timing-short;
        }

        &:hover, &.active {
            border-color: rgba(#000, 0.1);
            background-color: $color-accent;

            .mdi {
                color: $icons-color-hover;
            }
        }

        &.active {
            @extend .elevation-lowest;
        }
    }
}

footer {
    @extend .elevation-lowest;

    #icon-properties {
        padding: 5px 10px;
        transition-duration: $timing-medium;

        &.inactive {
            opacity: 0.5;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        #icon-icon {
            $icon-size: 1.6em;
            float: left;
            width: $icon-size;
            height: $icon-size;
            text-align: center;
            color: $icons-color-hover;
            line-height: $icon-size;
            font-size: 35px;
            background-color: $color-accent;
            margin: 5px 20px 5px 5px;
            border-radius: 50%;
            @extend .elevation-lowest;
        }

        .properties {
            margin-left: 80px;

            #icon-name {
                font-size: 20px;
                margin-top: 5px;
            }
            #icon-class {
                display: table;
                margin: 5px 0;
                padding: 5px 8px;
                border-radius: 2px;
                color: #a5c25c;
                background: #2b2b2b;
                @extend .elevation-negative;
            }

            #icon-name, #icon-class span {
                -webkit-user-select: text;
            }
        }
    }

    .bar {
        margin-top: 5px;
        padding: 5px 10px;
        text-align: right;
        background-color: $color-primary;

        i {
            font-size: 20px;
            transition-duration: $timing-short;
        }

        .left { float: left; }
        .right { float: right; }

        .btn-sm-round {
            cursor: default;
            color: #fff;
            display: inline-block;
            text-decoration: none;
            border-radius: 50%;
            margin-right: 2px;
            padding: 7px;

            &:hover {
                color: $color-primary;
                background-color: rgba(#fff, 0.95);
            }
        }
    }
}

.tooltip {
    position: fixed;
    z-index: 10;
    padding: 5px 10px;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    background-color: rgba(#000, 0.5);
}
