/**
 * MaterialDesignIcons-Picker
 */
/**
 * Material-Freebox-OS
 * Material variables & classes
 */
.background-color-red {
  background-color: #F44336; }

.background-color-pink {
  background-color: #E91E63; }

.background-color-purple {
  background-color: #9C27B0; }

.background-color-deep-purple {
  background-color: #673AB7; }

.background-color-indigo {
  background-color: #3F51B5; }

.background-color-blue {
  background-color: #2196F3; }

.background-color-light-blue {
  background-color: #03A9F4; }

.background-color-cyan {
  background-color: #00BCD4; }

.background-color-teal {
  background-color: #009688; }

.background-color-green {
  background-color: #4CAF50; }

.background-color-light-green {
  background-color: #8BC34A; }

.background-color-lime {
  background-color: #CDDC39; }

.background-color-yellow {
  background-color: #FFEB3B; }

.background-color-amber {
  background-color: #FFC107; }

.background-color-orange {
  background-color: #FF9800; }

.background-color-deep-orange {
  background-color: #FF5722; }

.background-color-brown {
  background-color: #795548; }

.background-color-grey {
  background-color: #9E9E9E; }

.background-color-blue-grey {
  background-color: #607D8B; }

.elevation-tiny, footer .btn-sm-round.active:hover, footer .btn-sm-round.active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.elevation-1, .elevation-lowest, .icons .mdi.active, #icon-properties #icon-icon {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.elevation-2, body[data-accent="red"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="pink"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="purple"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="deep-purple"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="indigo"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="blue"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="light-blue"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="cyan"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="teal"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="green"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="light-green"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="lime"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="yellow"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="amber"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="orange"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="deep-orange"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="brown"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="grey"] #icon-properties:not(.inactive) #icon-icon:hover, body[data-accent="blue-grey"] #icon-properties:not(.inactive) #icon-icon:hover, .elevation-low, header, .icon-properties-wrap, footer {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.elevation-negative, #icon-properties .properties #icon-class {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); }

.elevation-none {
  box-shadow: none; }

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 75%; }

html, body {
  margin: 0;
  padding: 0;
  width: 380px;
  overflow-x: hidden;
  overflow-y: auto; }

body {
  font-family: Roboto, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  cursor: default;
  -webkit-user-select: none; }

* {
  box-sizing: border-box; }

.clearfix {
  clear: both; }

header {
  color: #fff;
  padding: 5px 10px;
  background-color: #2196F3;
  position: relative;
  z-index: 1; }
  header h1 {
    font-weight: normal;
    margin: 5px 0;
    display: inline-block; }
    header h1 i.mdi {
      vertical-align: baseline;
      margin: 0 10px 0 5px; }
  header #version {
    margin-left: 5px;
    opacity: 0.7; }
  header .filter-wrap {
    position: relative; }
    header .filter-wrap #filter {
      width: calc(100% - 45px);
      margin: 5px 0 5px 45px;
      padding: 6px 2px;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      color: #fff;
      outline: none;
      border: 0;
      background: transparent;
      transition-duration: 250ms;
      box-shadow: 0 1px rgba(255, 255, 255, 0.7); }
      header .filter-wrap #filter:active, header .filter-wrap #filter:focus {
        box-shadow: 0 2px rgba(255, 255, 255, 0.9); }
    header .filter-wrap ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #fff;
      opacity: 0.7; }
    header .filter-wrap :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #fff;
      opacity: 0.7; }
    header .filter-wrap ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #fff;
      opacity: 0.7; }
    header .filter-wrap i.mdi-close {
      position: absolute;
      z-index: 1;
      right: 8px;
      top: 50%;
      margin-top: -8px;
      opacity: 0.8;
      transition-duration: 150ms;
      cursor: pointer; }
      header .filter-wrap i.mdi-close:hover {
        opacity: 1; }
      header .filter-wrap i.mdi-close.hidden {
        opacity: 0; }
      header .filter-wrap i.mdi-close:before {
        font-size: 16px; }

.content {
  position: relative;
  transition-duration: 250ms;
  transition-property: padding-bottom;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .content #loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 19px;
    cursor: default;
    -webkit-user-select: none;
    opacity: 0.6; }
    .content #loading i.mdi {
      font-size: 25px;
      vertical-align: middle;
      margin-right: 10px; }

.icons {
  font-size: 0;
  overflow-y: scroll;
  height: 450px;
  transition-duration: 250ms;
  transition-property: height, margin-bottom;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: #fafafa; }
  .icons .mdi {
    display: inline-block;
    margin: 5px;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition-duration: 150ms;
    width: 50px;
    height: 50px;
    color: #565656;
    font-size: 24px;
    overflow: hidden; }
    .icons .mdi:hover, .icons .mdi.active {
      color: #fff !important;
      border-color: rgba(0, 0, 0, 0.1); }
    .icons .mdi[data-color="red"] {
      color: #F44336; }
    .icons .mdi[data-color="pink"] {
      color: #E91E63; }
    .icons .mdi[data-color="purple"] {
      color: #9C27B0; }
    .icons .mdi[data-color="deep-purple"] {
      color: #673AB7; }
    .icons .mdi[data-color="indigo"] {
      color: #3F51B5; }
    .icons .mdi[data-color="blue"] {
      color: #2196F3; }
    .icons .mdi[data-color="light-blue"] {
      color: #03A9F4; }
    .icons .mdi[data-color="cyan"] {
      color: #00BCD4; }
    .icons .mdi[data-color="teal"] {
      color: #009688; }
    .icons .mdi[data-color="green"] {
      color: #4CAF50; }
    .icons .mdi[data-color="light-green"] {
      color: #8BC34A; }
    .icons .mdi[data-color="lime"] {
      color: #CDDC39; }
    .icons .mdi[data-color="yellow"] {
      color: #FFEB3B; }
    .icons .mdi[data-color="amber"] {
      color: #FFC107; }
    .icons .mdi[data-color="orange"] {
      color: #FF9800; }
    .icons .mdi[data-color="deep-orange"] {
      color: #FF5722; }
    .icons .mdi[data-color="brown"] {
      color: #795548; }
    .icons .mdi[data-color="grey"] {
      color: #9E9E9E; }
    .icons .mdi[data-color="blue-grey"] {
      color: #607D8B; }

.icon-properties-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  height: 0;
  transition-duration: 250ms;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

#icon-properties {
  padding: 5px 10px; }
  #icon-properties #icon-icon {
    float: left;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
    color: #fff;
    line-height: 1.6em;
    font-size: 35px;
    margin: 5px 20px 5px 5px;
    border-radius: 50%;
    transition-duration: 150ms; }
  #icon-properties:not(.inactive) #icon-icon {
    cursor: pointer; }
  #icon-properties .properties {
    margin-left: 80px; }
    #icon-properties .properties #icon-name {
      font-size: 20px;
      margin-top: 5px; }
    #icon-properties .properties #icon-class {
      margin: 5px 0;
      padding: 5px 8px;
      border-radius: 2px;
      color: #a5c25c;
      background: #2b2b2b;
      overflow-x: hidden;
      text-overflow: ellipsis; }
    #icon-properties .properties #icon-name, #icon-properties .properties #icon-class span {
      -webkit-user-select: text; }
    #icon-properties .properties .icon-more {
      margin: 0;
      opacity: 0.5; }
      #icon-properties .properties .icon-more #icon-codepoint {
        font-family: monospace; }
      #icon-properties .properties .icon-more #icon-codepoint, #icon-properties .properties .icon-more #icon-version, #icon-properties .properties .icon-more #icon-author {
        -webkit-user-select: text; }

body[data-accent="red"] .icons .mdi:hover,
body[data-accent="red"] .icons .mdi.active,
body[data-accent="red"] #icon-properties #icon-icon {
  background-color: #F44336; }
body[data-accent="red"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #f32c1e; }

body[data-accent="pink"] .icons .mdi:hover,
body[data-accent="pink"] .icons .mdi.active,
body[data-accent="pink"] #icon-properties #icon-icon {
  background-color: #E91E63; }
body[data-accent="pink"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #d81558; }

body[data-accent="purple"] .icons .mdi:hover,
body[data-accent="purple"] .icons .mdi.active,
body[data-accent="purple"] #icon-properties #icon-icon {
  background-color: #9C27B0; }
body[data-accent="purple"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #89229b; }

body[data-accent="deep-purple"] .icons .mdi:hover,
body[data-accent="deep-purple"] .icons .mdi.active,
body[data-accent="deep-purple"] #icon-properties #icon-icon {
  background-color: #673AB7; }
body[data-accent="deep-purple"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #5c34a4; }

body[data-accent="indigo"] .icons .mdi:hover,
body[data-accent="indigo"] .icons .mdi.active,
body[data-accent="indigo"] #icon-properties #icon-icon {
  background-color: #3F51B5; }
body[data-accent="indigo"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #3849a2; }

body[data-accent="blue"] .icons .mdi:hover,
body[data-accent="blue"] .icons .mdi.active,
body[data-accent="blue"] #icon-properties #icon-icon {
  background-color: #2196F3; }
body[data-accent="blue"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #0d8aee; }

body[data-accent="light-blue"] .icons .mdi:hover,
body[data-accent="light-blue"] .icons .mdi.active,
body[data-accent="light-blue"] #icon-properties #icon-icon {
  background-color: #03A9F4; }
body[data-accent="light-blue"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #0398db; }

body[data-accent="cyan"] .icons .mdi:hover,
body[data-accent="cyan"] .icons .mdi.active,
body[data-accent="cyan"] #icon-properties #icon-icon {
  background-color: #00BCD4; }
body[data-accent="cyan"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #00a5bb; }

body[data-accent="teal"] .icons .mdi:hover,
body[data-accent="teal"] .icons .mdi.active,
body[data-accent="teal"] #icon-properties #icon-icon {
  background-color: #009688; }
body[data-accent="teal"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #007d71; }

body[data-accent="green"] .icons .mdi:hover,
body[data-accent="green"] .icons .mdi.active,
body[data-accent="green"] #icon-properties #icon-icon {
  background-color: #4CAF50; }
body[data-accent="green"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #449d48; }

body[data-accent="light-green"] .icons .mdi:hover,
body[data-accent="light-green"] .icons .mdi.active,
body[data-accent="light-green"] #icon-properties #icon-icon {
  background-color: #8BC34A; }
body[data-accent="light-green"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #7eb73d; }

body[data-accent="lime"] .icons .mdi:hover,
body[data-accent="lime"] .icons .mdi.active,
body[data-accent="lime"] #icon-properties #icon-icon {
  background-color: #CDDC39; }
body[data-accent="lime"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #c6d626; }

body[data-accent="yellow"] .icons .mdi:hover,
body[data-accent="yellow"] .icons .mdi.active,
body[data-accent="yellow"] #icon-properties #icon-icon {
  background-color: #FFEB3B; }
body[data-accent="yellow"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #ffe822; }

body[data-accent="amber"] .icons .mdi:hover,
body[data-accent="amber"] .icons .mdi.active,
body[data-accent="amber"] #icon-properties #icon-icon {
  background-color: #FFC107; }
body[data-accent="amber"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #edb100; }

body[data-accent="orange"] .icons .mdi:hover,
body[data-accent="orange"] .icons .mdi.active,
body[data-accent="orange"] #icon-properties #icon-icon {
  background-color: #FF9800; }
body[data-accent="orange"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #e68900; }

body[data-accent="deep-orange"] .icons .mdi:hover,
body[data-accent="deep-orange"] .icons .mdi.active,
body[data-accent="deep-orange"] #icon-properties #icon-icon {
  background-color: #FF5722; }
body[data-accent="deep-orange"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #ff4409; }

body[data-accent="brown"] .icons .mdi:hover,
body[data-accent="brown"] .icons .mdi.active,
body[data-accent="brown"] #icon-properties #icon-icon {
  background-color: #795548; }
body[data-accent="brown"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #694a3e; }

body[data-accent="grey"] .icons .mdi:hover,
body[data-accent="grey"] .icons .mdi.active,
body[data-accent="grey"] #icon-properties #icon-icon {
  background-color: #9E9E9E; }
body[data-accent="grey"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #919191; }

body[data-accent="blue-grey"] .icons .mdi:hover,
body[data-accent="blue-grey"] .icons .mdi.active,
body[data-accent="blue-grey"] #icon-properties #icon-icon {
  background-color: #607D8B; }
body[data-accent="blue-grey"] #icon-properties:not(.inactive) #icon-icon:hover {
  background-color: #566f7c; }

footer {
  position: relative;
  z-index: 2;
  padding: 5px 10px;
  text-align: right;
  background-color: #2196F3; }
  footer i {
    font-size: 20px;
    transition-duration: 150ms; }
  footer .left {
    float: left; }
  footer .right {
    float: right; }
  footer .btn-sm-round {
    cursor: default;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 2px;
    padding: 7px; }
    footer .btn-sm-round:hover, footer .btn-sm-round.active {
      color: #2196F3;
      background-color: rgba(255, 255, 255, 0.95); }

.tooltip {
  position: fixed;
  z-index: 10;
  padding: 5px 10px;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=style.css.map */
