/**
 * Vue-IconsPicker
 * Material variables & classes
 */

// Font
$roboto:                Roboto, Arial, sans-serif;

$color-dark:            #303030;
$color-text-dark:       rgba(#000, 0.87);

// Elevation
$elevation-tiny: 0 1px 1px rgba(0,0,0,0.1);
$elevation-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$elevation-2: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
$elevation-negative: inset 1px 1px 1px rgba(0, 0, 0, 0.1);

// Animations duration
$timing-short:          150ms;
$timing-medium:         250ms;
$timing-long:           350ms;

// https://material.io/design/motion/the-motion-system.html#fade
$timing-function-in: cubic-bezier(0.0, 0.0, 0.2, 1);
$timing-function-out: cubic-bezier(0.4, 0.0, 1, 1);
