/**
 * MaterialDesignIcons-Picker
 */

$color-primary: #2196f3;

@import '~vue-icons-picker/scss/vue-icons-picker';

.icons {
    i.mdi-blank {
        border-color: rgba(#000, 0.3);
        border-style: dashed;
    }
}
